/* .kbrNXI {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 14px 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 52px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0px;
    top: 0px;
} */


/* form 각 박스   */
/* 
.box {
    padding: 34px 0px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
} */


/* 입력 창  */
.form-group {
    padding: 0px 0px 8px;
    border-bottom: 1px solid rgb(170, 170, 170);
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border: 1px solid;
    border-top-color: rgb(170, 170, 170);
    border-right-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 1 1 0%;
    position: relative;
    
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    display: block;
    
}

section {
    width: 400px;
    margin: auto;
}

header {
    text-align: center;
    padding: 80px 0px 10px 0px;
    font-size: 50px;
}


div {
    font-size: 22px;
    padding: 10px 0 1px 0;
}

label {
    margin: 5px 8px 8px 5px;
    font-size: 22px;
}

button {
    width: 400px;
    height: 50px;
    color: rgb(85, 81, 81);
    font-size: 20px;
    background-color: #beb9b9;
}

footer {
    text-align: center;
    padding-top: 5px;
}

.main{
display: block;
justify-content: center;
align-items: center;
}

/* .header{
    text-align: center;
} */

background: url(back.jpg) no-repeat;